<!-- <div style="color: blue; background-color: aquamarine"> {{ cellValue }}</div> 
style="opacity: .5;margin-left: 58px; height: 20px;width: 20px;"-->
<img *ngIf="changeUporDown" src="./assets\icons\up_arrow.jpg" style="cursor: pointer;margin-left: 58px; height: 20px;width: 20px;">
<img *ngIf="!changeUporDown" src="./assets\icons\down_arrow.png" style="opacity: .5;margin-left: 58px; height: 20px;width: 20px;">


