<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are the Live details of the Stock Market : </h2>
<ag-grid-angular
    style="width: 950px; height: 250px;"
    (gridReady)="onGridReady($event)"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [animatedRows]="true"
    [frameworkComponents]="frameworkComponents"
    >
</ag-grid-angular>

